.sidebar{
    padding-block: 100px;
    padding-inline: 45px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 30vw;
}


.sidebar .bar{
    border: solid 1px black;
    width: 1px;
}

.sidebar .sidenumber{
    margin-left: 25px;
}
.sidebar .sidenumber a{
    margin-top: 25px;
    text-decoration: none;
}

.sidebar .sidenumber h2{
    margin-top: 50px;
    margin-bottom: 50px;
}