.stories{
    align-items: center;
    display: grid;
    overflow-x: auto;
    position: relative;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    padding-left: 25px;
    
}

.stories .circle{
    background-color: rgba(251, 207, 207, 1);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.stories::-webkit-scrollbar {
    height: 0px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #737373;
    border-radius: 15px;
  }
  *::-webkit-scrollbar-track {
    background-color: #1f1d1d;
  }


  @media (max-width: 500px) {
    .stories{
        padding-left: 10px;
        
    }
}