.homepage .homepage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.homepage .content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    object-fit: fill;
}
.homepage .menu{
    height: auto;
    position: relative;
}

.homepage .left{
    padding-left: 50px;
    width: 70vw;
}

.homepage .right{
    width: 30vw;
}

.homepage .centralpage{
    display: flex;
    }





@media (max-width: 920px) {
    .homepage .left{
        width: 100%;
    }
    
    .homepage .right{
        display: none;
    }
}



@media (max-width: 500px) {
    .homepage .left{
        padding-left: 5px;
    }
    .menu h1{
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    
}
