div .buttonPrimary {
    background-color: rgba(221, 158, 158, 1);
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
div .buttonPrimary:hover {
    background-color: rgb(248, 75, 75);
}
div .buttonSecundary {
    width: 200px;
    height: 40px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: none;
    text-transform: lowercase;
    background-color: rgba(221, 158, 158, 0.564);
}
div .buttonSecundary h2{
    margin-left: 10px;
    color: white;
}
div .buttonSecundary:hover {
    background-color: rgba(248, 75, 75, 0.195);
}

.header img{
    height: 40px;
}



/* ------ Responsive Container ------ */

@media (max-width: 920px) {
    div .buttonSecundary {
        width: 80px;
    }
    .buttonSecundary h2{
        display: none;
    }
}